/* Estilo geral do site */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    /* background-color: #9ccafc4f; */
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.title {
    color: #4169A7;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    background-color: #00bfa6;

    color: #FFf;
}

button:hover {
    box-shadow: 0px 0px 8px #0066ffb0;
    transform: scale(1.05);
    transition: .2s;
}

.logo:hover {
    transform: scale(1.05);
    transition: .2s;
}



/* CABEÇALHO */
header {
    padding: 0 4%;
    background-color: #9ccafc4f
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header a {
    color: #4169A7;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    font-weight: 550;
}

header nav ul {
    list-style: none;
}

header nav.menu-desktop li {
    display: inline-block;
    padding: 0 40px;
}

header nav.menu-desktop a:hover {
    color: #4169A7;
    transform: scale(1.05);
}

.logo img {
    width: 130px;
}

/* Topo do Site */

section.topo-do-site {
    padding: 40px 2%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #4169A7;
    font-size: 35px;
    line-height: 40px;
    padding: 0 25px;


}

.topo-do-site .txt-topo-do-site p {
    margin: 40px 0;
    font-size: 18px;
    line-height: 20px;
    text-align: justify;
    padding: 0 25px;
}

.topo-do-site .txt-topo-do-site h3 {
    font-size: 22px;
    font-weight: 700;
    color: #4169A7;
    padding: 0 25px;
}

.topo-do-site .img-topo-do-site img {
    position: relative;
    width: 700px;
    border-radius: 0 25px 25px;
    opacity: 70%;
}

.topo-do-site .btn-contato {
    padding: 0 25px;
}


/* Sobre */

section.sobre {
    padding: 40px 2%;
    margin-top: 40px;
    background-color: #9ccafc4f
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #000;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
    padding: 0 100px;
    font-size: 20px;
}

.sobre .txt-sobre h3 {
    font-size: 25px;
    font-weight: 700;
    color: #4169A7;
    padding: 0 100px;
}

.sobre .img-sobre img {
    width: 350px;
    position: relative;
    border-radius: 20px;
    border-bottom: 6px solid #00bfa6;
    background-color: #00bfa6;

}

.sobre .btn-contato {
    text-align: center;
    margin-top: 40px;
}

/* Nossos Serviços */

section.services {
    padding: 40px;

}

section.services .flex {
    gap: 60px;
}

.services .services-box {
    border: 1px solid #00bfa6af;
    padding: 30px;
    width: 240px;
    height: 240px;
    margin-top: 15px;
    border-radius: 20px;
    transition: .2s;
    border-bottom: 6px solid #00bfa6;
    text-align: center;

}

.services .services-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #00bfa6;
}

.services .services-box h3 {
    font-size: 22px;
    margin: 15px 0;
    color: #4169A7;
    text-align: center;
}

.services .services-box p {
    font-size: 15px;
    text-align: center;
}

/* .services img {
    width: 60px;
    text-align: center;
    opacity: 60%;
} */

/* Contato */

section.contact {
    padding: 40px 4%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #9ccafc4f;
    border-radius: 8px;
    margin-bottom: 60px;
}

.txt-contact {
    flex: 1;
    max-width: 40%;
    margin-right: 20px;
    align-items: center;
    text-align: center;
}

.txt-contact img {
    width: 500px;
    border-radius: 25px;
}

.txt-contact h2 {
    margin-top: 25px;
    font-size: 30px;
    color: #4169A7;
    text-align: center;

}

.txt-contact p {
    margin-top: 25px;
    font-size: 17px;
    margin-bottom: 20px;
    color: #000;
}

/* .txt-contact button {
    background-color: #4169A7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
} */

.contact .contact-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Agendamento */
.services-contact-box {
    border-radius: 8px;
    padding: 15px;
    background-color: #FFf;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: 100px;
}

.services-contact-box h3 {
    font-size: 1.2rem;
    color: #4169A7;
    margin-bottom: 10px;
}

.services-contact-box p {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.services-contact-box button {
    background-color: #00bfa6;
    color: white;
    border: none;
    width: 200px;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

}


/* Rodapé */

footer {
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
    border-top: 2px solid #416aa723;


}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.clinic-logo {
    flex: 1;
    margin: 10px;
    text-align: center;

}

.clinic-logo img {
    max-width: 250px;
    width: 200px;
    height: auto;
}

.contact-info, .footer-links, .social-media {
    flex: 1;
    margin: 10px;
}

.contact-info h2, .footer-links h2, .social-media h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

a {
    color: #4169A7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}